<div class="container py-5" style="margin-top:120px;">

    <div class="row justify-content-center">

        <div class="col-lg-8 col-md-10 col-sm-11">

            <div class="card shadow-lg border-0 rounded-4">

                <!-- Header -->
                <div class="card-header text-center text-white py-4"
                    style="background:linear-gradient(90deg,#2952CC,#1DA1F2);">

                    <h2 class="fw-bold mb-1">
                        <i class="bi bi-journal-bookmark-fill"></i>

                        <span *ngIf="!form.data.id">Add Doctor</span>
                        <span *ngIf="form.data.id>0">Update Doctor</span>

                    </h2>

                    <small>Enter Doctor details</small>

                </div>

                <!-- Body -->
                <div class="card-body p-4">

                  <!-- Message -->
<div *ngIf="!form.error && form.message"
     class="alert alert-success alert-dismissible fade show position-relative">

    {{ form.message }}

    <button type="button"
            class="close"
            (click)="form.message = ''"
            style="position:absolute; right:15px; top:8px; border:none; background:transparent; font-size:24px;">
        &times;
    </button>

</div>

<div *ngIf="form.error && form.message"
     class="alert alert-danger alert-dismissible fade show position-relative">

    {{ form.message }}

    <button type="button"
            class="close"
            (click)="form.message = ''"
            style="position:absolute; right:15px; top:8px; border:none; background:transparent; font-size:24px;">
        &times;
    </button>

</div>


   <div class="row">

                       
                        <!-- Doctor Name -->
                        <div class="col-md-6 mb-3">

                            <label class="form-label fw-semibold">
                                Name <span class="text-danger">*</span>
                            </label>

                            <input
                                type="text"
                                class="form-control"
                                name="name"
                                [(ngModel)]="form.data.name"
                                placeholder="Enter Doctor Name">

                            <small class="text-danger">
                                {{form.inputerror.name}}
                            </small>

                        </div>
 <!-- Doctor Name -->
                        <div class="col-md-6 mb-3">

                            <label class="form-label fw-semibold">
                                Specialization <span class="text-danger">*</span>
                            </label>

                            <input
                                type="text"
                                class="form-control"
                                name="specialization"
                                [(ngModel)]="form.data.specialization"
                                placeholder="Enter Doctor Specialization">

                            <small class="text-danger">
                                {{form.inputerror.specialization}}
                            </small>

                        </div>
                        <!-- Duration -->
                        <div class="col-md-6 mb-3">

                            <label class="form-label fw-semibold">
                                experience <span class="text-danger">*</span>
                            </label>

                            <select
                                class="form-select"
                                name="zone"
                                [(ngModel)]="form.data.experience">

                                <option value="undefined">
                                    ------------Select------------
                                </option>

                                <option [value]="1">1 Year</option>
                                <option [value]="2">2 Year</option>
                                <option [value]="3">3 Year</option>
                                <option [value]="4">4 Year</option>
                                <option [value]="5">5 Year</option>

                            </select>

                            <small class="text-danger">
                                {{form.inputerror.experience}}
                            </small>

                        </div>

                        <!-- Description -->
                        <div class="col-12 mb-3">

                            <label class="form-label fw-semibold">
                                Number <span class="text-danger">*</span>
                            </label>

                            <textarea
                                class="form-control"
                                rows="4"
                                name="number"
                                [(ngModel)]="form.data.number"
                                placeholder="Enter  number">
                            </textarea>

                            <small class="text-danger">
                                {{form.inputerror.number}}
                            </small>

                        </div>

                    </div>

                    <hr>

                    <!-- Buttons -->

<div class="row">

  <!-- ADD MODE -->
  <ng-container *ngIf="!form.data.id">

    <div class="col-6">
      <button class="btn btn-primary w-100 rounded-3"
              (click)="submit()">
        Save
      </button>
    </div>

    <div class="col-6">
      <button class="btn btn-outline-secondary w-100 rounded-3"
              (click)="reset()">
        Reset
      </button>
    </div>

  </ng-container>

  <!-- EDIT MODE -->
  <ng-container *ngIf="form.data.id">

    <div class="col-6">
      <button class="btn btn-success w-100 rounded-3"
              (click)="submit()">
        Update
      </button>
    </div>

    <div class="col-6">
        <button type="button" (click)="forward('/doctorList')" class="btn btn-outline-secondary  w-100 rounded-3">
                    <i class="bi bi-list-ul me-1"></i>
                    List
                </button>
    </div>

  </ng-container>
</div>
                       
            </div>

        </div>

    </div>

</div>