

<div align="center">
    <h1 *ngIf="!form.data.id" align="center" style="margin-bottom: 5px; color: navy">Add Courier</h1>
    <h1 *ngIf="form.data.id>0" align="center" style="margin-bottom: 5px; color: navy">Update Courier</h1>

    <div style="height: 20px; margin-bottom: 10px; text-align: center;">
        <h3 style="margin: 0; color: green;" *ngIf="!form.error && form.message">{{ form.message }}</h3>
        <h3 style="margin: 0; color: red;" *ngIf="form.error && form.message">{{ form.message }}</h3>
    </div>

    <table>
        <tr>
            <th align="left">SenderName<span style="color: red">*</span></th>
            <td align="center"><input type="text" name="senderName" [(ngModel)]="form.data.senderName" placeholder="Enter senderName "></td>
            <td style="position: fixed; color: red;">{{form.inputerror.senderName}}</td>
        </tr>

         <tr>
            <th align="left">RecieverName<span style="color: red">*</span></th>
            <td align="center"><input type="text" name="receiverName" [(ngModel)]="form.data.receiverName" placeholder="Enter recieverName "></td>
            <td style="position: fixed; color: red;">{{form.inputerror.receiverName}}</td>
        </tr>

         <tr>
            <th align="left">Tracking Number<span style="color: red">*</span></th>
            <td align="center"><input type="text" name="trackingNumber" [(ngModel)]="form.data.trackingNumber" placeholder="Enter trackingNumber "></td>
            <td style="position: fixed; color: red;">{{form.inputerror.trackingNumber}}</td>
        </tr>

         <tr>
            <th align="left">DeliveryStatus<span style="color: red">*</span></th>
            <td align="center"><input type="text" name="deliveryStatus" [(ngModel)]="form.data.deliveryStatus" placeholder="Enter deliveryStatus "></td>
            <td style="position: fixed; color: red;">{{form.inputerror.deliveryStatus}}</td>
        </tr>


       

        <tr></tr>

        <tr>
            <th></th>
            <td align="left" colspan="2">
                <button (click)="submit()">save</button> &nbsp;

              <!-- <button (click)="forward('courselist')">list</button>-->
            </td>
        </tr>
    </table>
</div>

