<div class="container py-5" style="margin-top: 120px">
  <div class="row justify-content-center">
    <div class="col-lg-9 col-md-10 col-sm-11">
      <div class="card shadow-lg border-0 rounded-4">
        <!-- Header -->
        <div
          class="card-header text-center text-white py-4"
          style="background: linear-gradient(90deg, #2952cc, #1da1f2)"
        >
          <h2 class="fw-bold mb-1">
            <i class="bi bi-mortarboard-fill"></i>

            <span *ngIf="!form.data.id">Add Light</span>
            <span *ngIf="form.data.id > 0">Update Light</span>
          </h2>

          <small>Enter Light details</small>
        </div>

        <!-- Body -->
        <div class="card-body p-4">
          <!-- Message -->
<div *ngIf="!form.error && form.message"
     class="alert alert-success alert-dismissible fade show position-relative">

    {{ form.message }}

    <button type="button"
            class="close"
            (click)="form.message = ''"
            style="position:absolute; right:15px; top:8px; border:none; background:transparent; font-size:24px;">
        &times;
    </button>

</div>

<div *ngIf="form.error && form.message"
     class="alert alert-danger alert-dismissible fade show position-relative">

    {{ form.message }}

    <button type="button"
            class="close"
            (click)="form.message = ''"
            style="position:absolute; right:15px; top:8px; border:none; background:transparent; font-size:24px;">
        &times;
    </button>

</div>

          <div class="row">
            <!-- Enrol No -->
            <div class="col-md-6 mb-3">
              <label class="form-label fw-semibold">
                Code <span class="text-danger">*</span>
              </label>

              <input
                type="text"
                class="form-control"
                name="code"
                [(ngModel)]="form.data.code"
                placeholder="Enter Code"
              />

              <small class="text-danger">
                {{ form.inputerror.code }}
              </small>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label fw-semibold">
                Name <span class="text-danger">*</span>
              </label>

              <input
                type="text"
                class="form-control"
                name="name"
                [(ngModel)]="form.data.name"
                placeholder="Enter name"
              />

              <small class="text-danger">
                {{ form.inputerror.name }}
              </small>
            </div>

       
            <div class="col-md-6 mb-3">
              <label class="form-label fw-semibold">
                Level <span class="text-danger">*</span>
              </label>

              <input
                type="number"
                class="form-control"
                name="level"
                [(ngModel)]="form.data.level"
                placeholder="Enter Level"
              />

              <small class="text-danger">
                {{ form.inputerror.level }}
              </small>
            </div>

          
            <div class="col-md-6 mb-3">
              <label class="form-label fw-semibold">
                Status <span class="text-danger">*</span>
              </label>

              <input
                type="text"
                class="form-control"
                name="email"
                [(ngModel)]="form.data.status"
                placeholder="Enter Status"
              />

              <small class="text-danger">
                {{ form.inputerror.status }}
              </small>
            </div>
          </div>

          <hr />
          <!-- Buttons -->

          <div class="row">
            <!-- ADD MODE -->
            <ng-container *ngIf="!form.data.id">
              <div class="col-6">
                <button
                  class="btn btn-primary w-100 rounded-3"
                  (click)="submit()"
                >
                  Save
                </button>
              </div>

              <div class="col-6">
                <button
                  class="btn btn-outline-secondary w-100 rounded-3"
                  (click)="reset()"
                >
                  Reset
                </button>
              </div>
            </ng-container>

            <!-- EDIT MODE -->
            <ng-container *ngIf="form.data.id">
              <div class="col-6">
                <button
                  class="btn btn-success w-100 rounded-3"
                  (click)="submit()"
                >
                  Update
                </button>
              </div>

              <div class="col-6">
                <button
                  type="button"
                  (click)="forward('/lightList')"
                  class="btn btn-outline-secondary w-100 rounded-3"
                >
                  <i class="bi bi-list-ul me-1"></i>
                  List
                </button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
