<section class="hero-section">

    <!-- Decorative Shapes -->
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>

    

    <div class="container h-100">

        <div class="row h-100 align-items-center">

            <!-- Left Content -->
            <div class="col-lg-6 col-md-12 text-center text-lg-start">

                <h1 class="hero-title">
                  {{'WELCOME TO ONLINE RESULT SYSTEM' | translate}}
                </h1>

                <p class="hero-text">
                 
                     {{'ORS is online web application that manage
                    student and marksheet records.' | translate}}
                </p>

                <button  (click)="open()" class="btn btn-info rounded-pill px-4 py-2 shadow text-white">
                    {{'Read More' | translate}}
                </button>

            </div>

            <!-- Right Image -->
            <div class="col-lg-6 col-md-12 text-center mt-5 mt-lg-0">

               <img src="assets/images/laptop.jpeg" class="img-fluid laptop">

            </div>

        </div>

    </div>

</section>