.hero-section{
height:100vh;
background:linear-gradient(135deg,#6657c6,#007d70);
position:relative;
overflow:hidden;
display:flex;
align-items:center;
}

.hero-title{
font-size:58px;
font-weight:800;
color:#fff;
line-height:1.2;
}

.hero-text{
font-size:22px;
color:#d8d8d8;
margin:25px 0;
max-width:500px;
}

.laptop{
max-width:550px;
width:100%;
animation:float 3s ease-in-out infinite;
}

.btn-info{
background:#2aa9ff;
border:none;
}

.btn-info:hover{
background:#148de2;
}

/* Circles */

.circle{
position:absolute;
border-radius:50%;
}

.circle1{
width:220px;
height:220px;
background:#5474ff55;
bottom:-80px;
right:220px;
}

.circle2{
width:120px;
height:120px;
background:#bb55ff77;
top:60px;
right:60px;
}

.circle3{
width:70px;
height:70px;
background:#7b5cff88;
bottom:120px;
right:340px;
}





/* Floating Animation */

@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-10px);
}

100%{
transform:translateY(0);
}

}

/* Responsive */

@media(max-width:991px){

.hero-section{
height:auto;
padding:80px 0;
text-align:center;
}

.hero-title{
font-size:38px;
}

.hero-text{
font-size:18px;
margin:auto;
margin-top:20px;
margin-bottom:20px;
}

.laptop{
max-width:350px;
margin-top:30px;
}

.dot-pattern,
.grid-pattern,
.circle{
display:none;
}

}